footer {
    max-height: 240px;
    background: #161616;
    width: 100%;
    .footer__inner {
        display: flex;
        justify-content: space-between;
        min-height: 240px;
        max-width: 95%;
        margin: 0 auto;
    }
    .footer__logo {
        display: flex;
        align-items: center;
    }
    .footer__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 28px;
            list-style-type: none;
            font-weight: 400;
            font-size: 15px;
            margin-right: 25px;
            margin-bottom: 0;
            padding: 0;
        .sub-link {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.2px;
        text-decoration: none;
        color:#F7F7F7;
        margin-right: 15px;
        :last-child{
            margin-right: 0;
        }
        }
    }
}
    .footer_police {
        min-width: 180px;
    }
    a {
        color: #F7F7F7;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 115%; /* 23px */
        letter-spacing: -0.2px;
        text-decoration-line: underline;
        text-transform: uppercase;
        opacity: 0.7;
        &:hover {
            color: #F7F7F7;
        }
    }
}