.service {
    padding: 200px 0 200px 0;
    position: relative;
    height: auto;
    background: #220037;
    &_block {
        border-radius: 20px;
        background: #161616;
        height: auto;
        padding: 170px 100px 200px 100px;
        &-image {
            position: absolute;
            top: 125px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 162px;
            height: 166px;
            border-radius: 100%;
            background: #161616;
            left:50%;
            transform:translate(-50%);
        }
    }
    &_head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_title {
            color: var(--White, #F7F7F7);
            font-family: Orbitron;
            font-size: 80px;
            font-style: normal;
            font-weight: 700;
            line-height: 95%; /* 76px */
            letter-spacing: -0.8px;
            text-transform: uppercase;
        }
        a {
            display: flex;
            width: 30%;
            height: 60px;
            padding: 20px 32px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 500px;
            border: 3px solid #F7F7F7;
            opacity: 0.9;
            background: none;

            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.2px;
            text-transform: uppercase;
            text-decoration: none;
            color: #F7F7F7;
            &:hover {
                background: #F7F7F7;
                color: #161616;
            }
            &:active {
                background: #DCDCDC;
                color: #161616;
            }
        }
    }
    .accordion {
        margin-top: 80px;
        &-header {
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 18px;
            background: linear-gradient(270deg, rgba(247, 247, 247, 0.00) 0%, rgba(247, 247, 247, 0.07) 100%);
        }
        &-item {
            margin-bottom: 20px;
            border-radius: 20px;
            border: none;
            background: none;
        }
        h4 {
            margin: 0;
            font-family: Montserrat;
        }
        &-body {
            background: linear-gradient(90deg, rgba(32, 16, 52) 29.61%, rgba(204, 49, 132, 0.5) 48.29%, #CC3184 100%);
            padding: 30px 40px;
            color: #F7F7F7;
            font-family: Montserrat;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 115%; /* 28.75px */
            letter-spacing: -0.25px;
            opacity: 0.8;
            border-radius: 20px;
            margin-top: 20px;
        }
        &-button {
            background: linear-gradient(90deg, rgba(158, 80, 206, 0) 37.6%, rgba(158, 80, 206) 100%);
            color:  #F7F7F7;
            font-family: Montserrat;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 115%; /* 34.5px */
            letter-spacing: -0.3px;
                 
        }
        &-image {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 26px;
            width: 60px;
            height: 60px;
            border-radius: 20px;
            background: #161616;

        }
    } 
    &_footer {
        margin-top: 30px;
        img {
            width: 100%;
        }
    } 
} 

.accordion-button::after {
    background-image: url(/wic/src/icons/plus.svg);
    width: 60px;
    height: 60px;
    background-size: cover;
}
.accordion-button:not(.collapsed) {
    box-shadow: none;
}
.accordion-button:not(.collapsed)::after {
    background-image: url(/wic/src/icons/close.svg);
}
.modal {
    padding: 30px 0;
}
.modal.show .service_modal {
    max-width: 80%;
    width: 100%;
}
.service_modal .modal-content {
    display: flex;
    width: 100%;
    padding: 145px 70px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;

    border-radius: 20px;
    border: 3px solid rgba(247, 247, 247, 0.00);
    background: linear-gradient(208deg, #2F0648 0%, #161616 100%);
}
.service_modal > .modal-content > .modal-header {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.service_modal > .modal-content > .modal-header > .modal-title {
    color: #F7F7F7;
    font-family: Orbitron;
    font-size: 90px !important; 
    font-style: normal;
    font-weight: 700;
    line-height: 95%; /* 85.5px */
    letter-spacing: -0.9px;
    text-transform: uppercase;
}

.service_modal > .modal-content > .modal-header > .btn-close {
    border: none;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 35px;
    right: 10px;
    background-image: url(../../icons/5/Button.svg);
}
.service_modal > .modal-content > .modal-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;

}
.service_modal > .modal-content > .modal-body > .service_modal_left {
    display: flex;
    margin-top: 10px;
    width: 40%;
    padding: 40px;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(247, 247, 247, 0.07) 0%, rgba(247, 247, 247, 0.00) 100%);
}
.service_modal > .modal-content > .modal-body > .service_modal_left > .service_modal_left_title {
    color: #F7F7F7;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 46px */
    letter-spacing: -0.4px;
}

.service_modal > .modal-content > .modal-body > .service_modal_right {
    display: flex;
    margin-top: 10px;
    width: 60%;
    padding: 40px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(247, 247, 247, 0.07);
}
.service_modal > .modal-content > .modal-body > .service_modal_right > .service_modal_right_descr {
    color:  #F7F7F7;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 28.75px */
    letter-spacing: -0.25px;
}
