.touch {
    position: relative;
    background: #10001A;
    &_white {
        margin: 0 auto;
        background-color: #F7F7F7;
        border-radius: 20px;
        height: 450px;
        flex-shrink: 0;
        padding: 100px 0 100px 0;
        &_title {
            color: #161616;
            text-align: center;
            font-family: Orbitron;
            font-size: 80px;
            font-style: normal;
            font-weight: 700;
            line-height: 95%; /* 76px */
            letter-spacing: -0.8px;
            text-transform: uppercase;
        }
        &_subtitle {
            margin-top: 20px;
            color: #161616;
            text-align: center;
            font-family: Montserrat;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 115%; /* 28.75px */
            letter-spacing: -0.25px;
        }
    }
    &_form {
        margin-top: 15px;
        padding: 100px 380px 100px 380px;
        border-radius: 20px;
        border: 3px solid var(--Gradient-Stroke, rgba(247, 247, 247, 0.00));
        background: linear-gradient(180deg, rgba(52, 0, 105, 0.00) 0.36%, rgba(126, 26, 227, 0.35) 99.64%);
    }
}
    .form-label {
        color: #F7F7F7;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.2px;
        opacity: 0.7;
    }
    .form-control {
        height: 45px;
        color: #161616;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 115%; /* 18.4px */
        letter-spacing: -0.16px;
        margin-bottom: 40px;
    }
    .form-control-project {
        height: 100px;
    }
    .touch_send {
        border-radius: 500px;
        border: 3px solid #F7F7F7;
        opacity: 0.9;
        display: flex;
        width: 100%;
        height: 61px;
        padding: 20px 32px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: none;

        /* text */
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        text-decoration: none;
        color: #F7F7F7;
        &:hover {
            background: #F7F7F7;
            color: #161616;
        }
        &:active {
            background: #DCDCDC;
            color: #161616;
        }
    }
    .touch_text {
        margin-top: 15px;
        color: #F7F7F7;
        text-align: center;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.2px;
    }
    .modal.show .touch_modal {
        display: flex;
        align-items: center;
        max-width: 93%;
        background-color: #F7F7F7;
        border-radius: 20px;
        height: 450px;
        flex-shrink: 0;
        padding: 20px;
    }
    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #F7F7F7;
        border: none;
    }
    .modal-header {
        display: flex;
        align-items: center;
        border: none;
    }
    .btn-close {
        padding: 0;
    }
    .modal-dialog .modal-header > a {
        padding: 0;
        background-color: transparent;
        border: none;
        position: absolute;
        top: -30px;
        right: 70px;
        background-image: url(../../icons/5/Button.svg);


      }

